.father {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  height: 100vh;
  flex-wrap: wrap;
}
.child {
  width: 200px;
  height: 200px;
  background: peru;
  color: white;
  font-size: 50px;
  /*텍스트가 가운데 오게하기 위해서 child도 flex로 만들어준다.*/
  display: flex;
  justify-content: center;
  align-items: center;
}
