.grid {
  display: grid;
  height: 50vh;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: stretch;
  /* place-items: stretch center; */
}
.header {
  background-color: hsl(145, 63%, 49%);
}
.content {
  background-color: #3498db;
}
.nav {
  background-color: #8e44ad;
}
.footer {
  background-color: #f39c12;
}
