.father {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  column-gap: 10px;
  row-gap: 10px;
}
.child {
  flex-basis: 30%;
  background: peru;
  color: white;
  font-size: 50px;
  /*텍스트가 가운데 오게하기 위해서 child도 flex로 만들어준다.*/
  display: flex;
  justify-content: center;
  align-items: center;
}
